<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
 <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="heading">
        <div class="logo"><img src="../E8E21528-3E8A-4C18-A6EF-B8BBF2396815.png" alt=""></div>
        <div>
            <a class="profile-link" href="/profile"> <div class="profile-logo"></div>Profile</a>
        </div>
    </div>
</body>