<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3 fade-in">Hi There!!</h1>
    <hr class="slide-in">
    <div class="buttons">
      <a class="btn btn-light btn-lg bounce" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg bounce" href="/login" role="button">Login</a>
    </div>
  </div>
</div>
<%- include('partials/footer') %>